<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConnMyCompany" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=BD_OPTICA;Integrated Security=True;Encrypt=False"
            providerName="Microsoft.Data.SqlClient" />
    </connectionStrings>
</configuration>
