<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CapaPresentacion.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ConnMyCompany" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=BD_OPTICA;Integrated Security=True;Encrypt=False"
            providerName="Microsoft.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <CapaPresentacion.My.MySettings>
            <setting name="TemaWUI" serializeAs="String">
                <value>Claro</value>
            </setting>
        </CapaPresentacion.My.MySettings>
    </userSettings>
</configuration>
